
.Cajanegra{
    background: black;
    text-align: right;
}

.Cajablanca{
    background: white;
    width: auto;
    margin: 0 20px 0 20px;
    position: relative;

}




nav h1{
display: inline;
padding: 10px;
;

}

nav li{
    display: inline;
    
}


nav a {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

nav a:hover {
    color: blue;
    transition: 300ms;
}
